@using PhoneShop.Models.Entities
DDaay la trang chu

@{
    ViewBag.Title = "Home Page";
}
@foreach(var product in ViewData["sanpham"] as List<Products>){
    <h1>@product.Name</h1>
}

@foreach(var image in ViewData["hinhanh"] as List<Media>){
    <img src="~/images/@image.MediaURL"></img>
}
