@model PhoneShop.Models.ViewModels.RegisterViewModel

<h2 class="form-title">Đăng ký</h2>

<form asp-action="Register" method="post" class="register-form">
    
    <div class="form-group">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-input" placeholder="Nhập email hoặc số điện thoại của bạn" />
        <span asp-validation-for="Phone" class="form-validation"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-input" placeholder="Nhập mật khẩu của bạn" />
        <span asp-validation-for="Password" class="form-validation"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-input" placeholder="Xác nhận mật khẩu" />
        <span asp-validation-for="ConfirmPassword" class="form-validation"></span>
    </div>
    
    <button type="submit" class="form-button">Đăng ký</button>
    
    <div class="login-link mt-3" style="margin-top: 10px; text-align: center;">
        <p>Đã có tài khoản? <a asp-action="Login" asp-controller="Customer">Đăng nhập ngay</a></p>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}